In [2]:
import pandas as pd

In [3]:
fn = 'Sta0001.cnv'

In [4]:
import cnv

In [5]:
import importlib as imp

In [6]:
imp.reload(cnv)

In [7]:
hd = cnv.read_header(fn)

In [10]:
da = pd.read_csv(fn, header = hd['hdr_end_line']+1,
                 delim_whitespace=True,
                 names = hd['col_names'])

In [11]:
da

,prDM:,t090C:,t190C:,c0S/m:,c1S/m:,sbox0Mm/Kg:,wetCDOM:,flECO-AFL:,CStarAt0:,timeS:,latitude:,longitude:,sal00:,sal11:,flag:
0,0.174,7.2176,7.0428,0.423041,0.031771,234.462,0.0782,-0.0009,1.5972,0.042,81.26816,-9.78582,3.4955,0.2328,-9.990000e-29
1,0.178,7.2171,7.0420,0.423087,0.031710,234.341,0.0783,-0.0015,1.5973,0.083,81.26816,-9.78582,3.4960,0.2324,-9.990000e-29
2,0.181,7.2165,7.0413,0.422702,0.031662,234.128,0.0783,-0.0022,1.5974,0.125,81.26816,-9.78582,3.4926,0.2320,-9.990000e-29
3,0.182,7.2160,7.0410,0.422066,0.031656,233.987,0.0784,-0.0027,1.5975,0.167,81.26816,-9.78582,3.4871,0.2320,-9.990000e-29
4,0.182,7.2155,7.0402,0.421525,0.031622,233.976,0.0785,-0.0028,1.5975,0.208,81.26816,-9.78582,3.4824,0.2317,-9.990000e-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18018,0.090,-1.2215,-1.1845,0.729343,0.392240,454.896,0.2413,0.1349,1.0552,750.792,81.26826,-9.78582,8.1427,4.1914,-9.990000e-29
18019,0.085,-1.2233,-1.1859,0.586087,0.501475,460.392,0.2344,0.1140,1.0511,750.833,81.26826,-9.78582,6.4426,5.4468,-9.990000e-29
18020,0.082,-1.2246,-1.1867,0.528636,0.915729,463.439,0.2253,0.0973,1.0484,750.875,81.26826,-9.78582,5.7700,10.3857,-9.990000e-29
18021,0.082,-1.2250,-1.1873,0.510915,1.369273,464.572,0.2157,0.0875,1.0469,750.917,81.26826,-9.78582,5.5637,16.0296,-9.990000e-29
18022,0.082,-1.2254,-1.1879,0.508991,1.500999,464.811,0.2113,0.0844,1.0464,750.958,81.26826,-9.78582,5.5414,17.7061,-9.990000e-29

In [86]:
da.describe()

,prDM:,t090C:,t190C:,c0S/m:,c1S/m:,sbox0Mm/Kg:,wetCDOM:,flECO-AFL:,CStarAt0:,timeS:,latitude:,longitude:,sal00:,sal11:,flag:
count,18023.000000,18023.000000,18023.000000,18023.000000,18023.000000,18023.000000,18023.000000,18023.000000,18023.000000,18023.000000,18023.000000,18023.000000,18023.000000,18023.000000,1.802300e+04
mean,47.003279,0.251505,0.268620,2.205879,2.137230,316.197220,0.109048,0.215484,0.493820,375.500000,81.268257,-9.785812,26.850021,26.208820,-5.455894e-29
std,49.574873,2.844569,2.779773,0.840301,0.978386,58.165315,0.014552,0.204778,0.510943,216.789012,0.000008,0.000017,10.874156,12.040245,4.973829e-29
min,0.075000,-1.613300,-1.613100,0.273382,0.023169,196.511000,0.072100,-0.015300,0.208000,0.042000,81.268160,-9.785920,2.622800,0.174000,-9.990000e-29
25%,5.490000,-1.393900,-1.393800,2.435919,2.435831,279.899000,0.109900,0.042700,0.235400,187.771000,81.268260,-9.785820,30.125300,30.122900,-9.990000e-29
50%,20.605000,-1.280300,-1.266100,2.445234,2.444858,291.021000,0.112100,0.142300,0.275700,375.500000,81.268260,-9.785820,30.349800,30.248900,-9.990000e-29
75%,84.371000,-0.488350,-0.486700,2.712929,2.706673,384.013000,0.116000,0.424800,0.289500,563.229000,81.268260,-9.785800,33.294400,33.236850,0.000000e+00
max,151.044000,7.217600,7.042800,2.882879,2.805517,467.109000,0.260700,0.673500,2.118500,750.958000,81.268260,-9.785760,34.149600,34.147600,0.000000e+00

In [75]:
da.describe()

,0.170,7.2177,7.0433,0.423010,0.031836,234.483,0.0782,-0.0004,1.5971,0.000,81.26816,-9.78582,3.4952,0.2333,-9.990e-29
count,18023.000000,18023.000000,18023.000000,18023.000000,18023.000000,18023.000000,18023.000000,18023.000000,18023.000000,18023.000000,18023.000000,18023.000000,18023.000000,18023.000000,1.802300e+04
mean,47.003279,0.251505,0.268620,2.205879,2.137230,316.197220,0.109048,0.215484,0.493820,375.500000,81.268257,-9.785812,26.850021,26.208820,-5.455894e-29
std,49.574873,2.844569,2.779773,0.840301,0.978386,58.165315,0.014552,0.204778,0.510943,216.789012,0.000008,0.000017,10.874156,12.040245,4.973829e-29
min,0.075000,-1.613300,-1.613100,0.273382,0.023169,196.511000,0.072100,-0.015300,0.208000,0.042000,81.268160,-9.785920,2.622800,0.174000,-9.990000e-29
25%,5.490000,-1.393900,-1.393800,2.435919,2.435831,279.899000,0.109900,0.042700,0.235400,187.771000,81.268260,-9.785820,30.125300,30.122900,-9.990000e-29
50%,20.605000,-1.280300,-1.266100,2.445234,2.444858,291.021000,0.112100,0.142300,0.275700,375.500000,81.268260,-9.785820,30.349800,30.248900,-9.990000e-29
75%,84.371000,-0.488350,-0.486700,2.712929,2.706673,384.013000,0.116000,0.424800,0.289500,563.229000,81.268260,-9.785800,33.294400,33.236850,0.000000e+00
max,151.044000,7.217600,7.042800,2.882879,2.805517,467.109000,0.260700,0.673500,2.118500,750.958000,81.268260,-9.785760,34.149600,34.147600,0.000000e+00